/**********************************
 * VARIABLES
 * utility
 */
 
// % COLORS % 
$realwhite	: #fafafa;
$white		: #eaeaea;
$blue1		: #1565C0;
$blue2		: #000040;

$grey		: #858585;
$light_grey	: #d1d1d1;
$green		: #42b983;
$green2		: #62c699;

// % DIMENSIONS %
$field_size : 300px;
$panel_size	: 120px;
$radius		: 4px;